:root {
  --primary: #3d8a3d;
  --primary-2: #aadb74;
  --foreground: #eae9eb;
  --background: #6a431f;
}

html[data-color-scheme="dark"] {
  background-color: var(--ds-color-brand3-border-subtle);
}

html[data-color-scheme="dark"] body {
  background-color: var(--ds-color-brand3-border-subtle);
}

html {
  background-color: var(--ds-color-brand3-background-subtle);
  scroll-behavior: smooth;
}

html body {
  background-color: var(--ds-color-brand3-background-subtle);
}

body {
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid var(--foreground);
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid var(--foreground);
  margin-top: 1rem;
}

nav {
  display: block;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  padding: 0px 8px;
}

nav ul li a {
  display: inline;
}

.highlight {
  overflow-x: auto;
}

.highlight pre {
  width: fit-content;
  padding: 8px;
}

mcbe-theme-switch div {
  margin-top: 16px;
  .ds-button {
    text-transform: capitalize;
  }
}
