html[data-color-scheme="dark"] {
  background-color: var(--ds-color-brand3-border-subtle);
}

html[data-color-scheme="dark"] body {
  background-color: var(--ds-color-brand3-border-subtle);
}

html {
  background-color: var(--ds-color-brand3-background-subtle);
  scroll-behavior: smooth;
}

html body {
  background-color: var(--ds-color-brand3-background-subtle);
}

body {
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid var(--ds-color-neutral-border-strong);
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid var(--ds-color-neutral-border-strong);
  margin-top: 1rem;
}

nav {
  display: block;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  padding: 0px 8px;
}

nav ul li a {
  display: inline;
}

.highlight {
  overflow-x: auto;
}

.highlight pre {
  width: fit-content;
  padding: 8px;
}

.rs-calc {
  display: flex;
  flex-direction: column;
  margin-top: var(--ds-spacing-4);
  gap: var(--ds-spacing-4);
}

mcbe-theme-switch div {
  margin-top: var(--ds-spacing-4);
  .ds-button {
    text-transform: capitalize;
  }
}
