html[data-color-scheme="dark"] {
  background-color: var(--ds-color-brand3-base-default);
}

html[data-color-scheme="dark"] body {
  background-color: var(--ds-color-brand3-base-default);
}

html {
  background-color: var(--ds-color-brand3-background-subtle);
  scroll-behavior: smooth;
}

html body {
  background-color: var(--ds-color-brand3-background-subtle);
}

body {
  line-height: 1.5;
  margin: 1rem;
}

main {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

header {
  border-bottom: 1px solid var(--ds-color-neutral-border-strong);
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid var(--ds-color-neutral-border-strong);
  margin-top: 1rem;
}

.mcbe-navbar {
  display: flex;
  justify-content: space-between;
}

.mcbe-navbar ul {
  list-style: none;
}

.mcbe-navbar ul li {
  display: inline;
  padding: 0px 8px;
}

.mcbe-navbar ul li a {
  display: inline;
}

.mcbe-banner {
  display: flex;
  align-items: center;
  gap: var(--ds-spacing-2);
}

.highlight {
  overflow-x: auto;
}

.highlight pre {
  width: fit-content;
  padding: 8px;
}

.rs-calc {
  display: flex;
  flex-direction: column;
  margin-top: var(--ds-spacing-4);
  gap: var(--ds-spacing-4);
}

.mcbe-content {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    margin-top: var(--ds-spacing-4);
    margin-bottom: var(--ds-spacing-4);
  }
}

.mcbe-site-title {
  margin-bottom: var(--ds-spacing-2);
}

mcbe-theme-switch div {
  margin-top: var(--ds-spacing-4);
  .ds-button {
    text-transform: capitalize;
  }
}

@media (max-width: 768px) {
  .mcbe-banner-title {
    display: none;
  }
  .mcbe-navbar {
    flex-direction: column;
    align-items: center;
  }
}
